body {
    color: #f1f1f1;
    background-color: #121212;
    font: 14px "Open Sans", sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
    list-style: none;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 40px;
  }
  
  .square {
    background: #f1f1f1;
    border: 1.8px solid #121212;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 40px;
  }
   
  .square:focus {
    outline: none;
  }
  
  .button {
      margin-bottom: 5px;
      background-color: white;
      padding: 10px 15px;
      border-radius: 8px;
      border-style: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  